<% if @products.empty? %>
    <p>На данный момент товаров нет</p>
<% end %>
<% @products.each do |product| %>
    <div>
      <p><%= product.name %></p>
      <p><%= product.description %></p>
      <%= image_tag product.photo %>
    </div>
<% end %>

