<% if current_user == product.user %>
    <p class="pull-right">
      <%= link_to(image_tag('edit-icon.png', class: 'edit-btn'), edit_product_path(product)) %>
    </p>
<% end %>
<% if current_user.is_a? Admin %>
    <p class="pull-right">
      <%= link_to(image_tag(product.pro ? 'pro_active.png' : 'pro_disabled.png',
                            class: 'pro-btn'),
                  toggle_pro_products_path(product),
                  method: :post) %>
    </p>
<% end %>